<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Paper Review</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'/>
    <!--[if lte IE 8]><link rel="stylesheet" th:href="@{/assets/css/ie8.css}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" th:href="@{/assets/css/ie9.css}" /><![endif]-->
</head>
<body>

<!-- Header -->
<header id="header">
    <h1><a href="/">Paper Review!</a></h1>
    <a href="#nav">Menu</a>
</header>


<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li>><a class="fa fa-home" href="/">&nbsp;&nbsp;Home</a></li>
        <li><a class="fa fa-flag" href="/activity">&nbsp;&nbsp;Activity</a></li>
        <li><a class="fa fa-file-text" href="/article">&nbsp;&nbsp;Article</a></li>
        <li><a class="fa fa-users" href="/member/Info">&nbsp;&nbsp;Account</a></li>
        <li><a class="fa fa-question-circle" href="/qa">&nbsp;&nbsp;Q&nbsp;&nbsp;&&nbsp;&nbsp;A</a></li>
    </ul>
</nav>


<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
            <h2>審文確認列表</h2>
        </header>
        <!-- start -->
        <button class="accordion">Section 1</button>
        <div class="panel">
            <header class="major special">
                <h2>您收到一篇審文邀請</h2>
                <h3>請登入網頁前往確認是否參與審文！</h3>
                <div class="table-wrapp" style="width: 40%;margin-left:auto;margin-right: auto;">
                    <table class="alt" >
                        <thead></thead>
                        <tbody >
                        <tr>
                            <td align="center"><h4>活動名稱：</h4></td>
                            <td>{th:activityname}</td>
                        </tr>
                        <tr>
                            <td align="center"><h4>活動主辦人：</h4></td>
                            <td >{th:activityhold}</td>
                        </tr>
                        <tr>
                            <td align="center"><h4>文章名稱：</h4></td>
                            <td >{th:articlename}</td>
                        </tr>
                        <tr>
                            <td align="center"><h4>發表時間：</h4></td>
                            <td >{th:posttime}</td>
                        </tr>



                        </tbody>
                    </table>
                    <form>
                        <div class="12u 12u$(xsmall)" style="text-align: right;">
                            <input class="button alt" type="submit" value="確認">
                            <input class="button special" type="submit" value="拒絕">

                        </div>
                    </form>
                </div>
            </header>

        </div>



        <button class="accordion">Section 2</button>
        <div class="panel">
            <header class="major special">
                <h2>您收到一篇審文邀請</h2>
                <h3>請登入網頁前往確認是否參與審文！</h3>
                <div class="table-wrapp" style="width:40%;margin-left:auto;margin-right: auto;">
                    <table class="alt" >
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td align="center"><h4>活動名稱：</h4></td>
                            <td>{th:activityname}</td>
                        </tr>
                        <tr>
                            <td align="center"><h4>活動主辦人：</h4></td>
                            <td >{th:activityhold}</td>
                        </tr>
                        <tr>
                            <td align="center"><h4>文章名稱：</h4></td>
                            <td >{th:articlename}</td>
                        </tr>
                        <tr>
                            <td align="center"><h4>發表時間：</h4></td>
                            <td >{th:posttime}</td>
                        </tr>



                        </tbody>
                    </table>
                    <form>
                        <div class="12u 12u$(xsmall)" style="text-align: right;">
                            <input class="button alt" type="submit" value="確認">
                            <input class="button special" type="submit" value="拒絕">

                        </div>
                    </form>
                </div>
            </header>

        </div>

        <!-- over			 -->
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="#" class="icon fa-facebook">
                <span class="label">Facebook</span>
            </a></li>
            <li><a href="#" class="icon fa-twitter">
                <span class="label">Twitter</span>
            </a></li>
            <li><a href="#" class="icon fa-instagram">
                <span class="label">Instagram</span>
            </a></li>
            <li><a href="#" class="icon fa-linkedin">
                <span class="label">LinkedIn</span>
            </a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled.</li>
            <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/skel.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script th:src="@{/assets/js/main.js}"></script>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
</body>
</html>