<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Paper Review</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'/>
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>



<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
            <h2>文章進度</h2>
            <p>{th:articlenanme}</p>
        </header>
        <div id="show" class="table-wrapp"  >
            <table class="alt" >
                <thead></thead>
                <tbody >
                <tr>
                    <td align="center"><h4>文章名稱：</h4></td>
                    <td colspan="2">{th:articlename}</td>
                </tr>
                <tr>
                    <td align="center"><h4>發表時間：</h4></td>
                    <td colspan="2">{th:posttime}</td>
                </tr>
                <tr>
                    <td align="center"><h4>原始檔案：</h4></td>
                    <td colspan="2"> <label class="button">
                        <a href="https://www.wfublog.com/2016/01/font-awesome-cheat-sheet.html" style="color: white">
                            <i class="fa fa-cloud-download">下載檔案</i>
                        </a>
                    </label></td>
                </tr>
                <tr>
                    <td rowspan="4" align="center"><h4>審核回覆：</h4></td>
                    <td align="center"><h5>審核人：</h5></td>
                    <td align="center"><h5>評論內容:</td>
                </tr>
                <tr>
                    <td>審核1{th:name}</td>
                    <td>{th:reviewtext}</td>
                </tr>
                <tr>
                    <td>審核2</td>
                    <td></td>
                </tr>
                <tr>
                    <td>審核3</td>
                    <td></td>
                </tr>



                </tbody>
            </table>
        </div>





    </div>
</section>


<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/skel.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>