<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Paper Review</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
		<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'/>
		<!--[if lte IE 8]><link rel="stylesheet" th:href="@{/assets/css/ie8.css}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" th:href="@{/assets/css/ie9.css}" /><![endif]-->
	</head>

	<!-- Header -->
	<header id="header">
		<h1><a href="/">Paper Review!</a></h1>
		<a href="#nav">Menu</a>
	</header>


	<!-- Nav -->
	<nav id="nav">
		<ul class="links">
			<li><a class="fa fa-home" href="/">&nbsp;&nbsp;Home</a></li>
			<li><a class="fa fa-flag" href="/activity">&nbsp;&nbsp;Activity</a></li>
			<li><a class="fa fa-file-text" href="/article">&nbsp;&nbsp;Article</a></li>
			<li><a class="fa fa-users" href="/member/Info">&nbsp;&nbsp;Account</a></li>
			<li><a class="fa fa-question-circle" href="/qa">&nbsp;&nbsp;Q&nbsp;&nbsp;&&nbsp;&nbsp;A</a></li>
		</ul>
	</nav>


		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>上傳論文</h2>
					</header>



					<form th:action="@{post}"  enctype="multipart/form-data" method="post">
							<!--<div class="row uniform 50%">
							</div>-->

						<div class="table">
							<table class="alt">
								<thead>
									<tr></tr>
									<tr></tr>
								</thead>
								<tbody>
									<tr><div class="6u 12u$">
										<td>
											<h4 style="text-align: center;">論文名稱：</h4>
										</td>
										<td colspan="5">
											<input type="text" name="articleName" id="articleName" value="" placeholder="論文名稱" />
										</td>
									</div></tr>

									<tr><div class="6u 12u$">
										<td>
											<h4 style="text-align: center;">活動：</h4>
										</td>
										<td colspan="5">
											<div class="select-wrapper">
											<select name="activityId" id="activityId" >
												<option th:each="activityList:${activityList}"
														th:value="${activityList.id}"
														th:text="${activityList.activityName}" ></option>
<!--												<option value=0>醫學</option>-->
<!--												<option value=1>生科</option>-->
<!--												<option value=2>商科</option>-->
<!--												<option value=3>資訊</option>-->
<!--												<option value=4>工程</option>-->
<!--												<option value=5>社會科學</option>-->
											</select>
											</div>											
										</td>
									</div></tr>

									<tr><div class="6u 12u$">
										<td>
											<h4 style="text-align: center;">上傳檔案：</h4>
										</td>
										<td colspan="5">
											
											<label for="file-uploads" class="button">
												<i class="fa fa-file-text-o"></i>上傳檔案
											</label>
											<input id="file-uploads" style="display:none;" name="uploadFile" type="file">
										</td>
									</div></tr>

									<tr><div class="6u 12u$(xsmall)" >
										<td>
											<h4 style="text-align: center;">字數統計：</h4>
										</td>
										<td>
											<input type="number" min="0" onchange="updateArticleValue(value)" value=0 name="textNumber" id="textNumber"placeholder="字數統計" style="width: 80%" required/>
										</td>
										<td>
											<h4 style="text-align: center;">公式數量：</h4>
										</td>
										<td>
											<input type="number" min="0" onchange="updateArticleValue(value)" value=0 name="formulaNumber" id="formulaNumber"placeholder="公式數量：" style="width: 80%" required/>										</td>
										<td>
											<h4 style="text-align: center;">文章價值：</h4>
										</td>
										<td>
											<input type="text" name="articleValue" style="border: none;width: 80%;background:none;" id="articleValue"  required readonly/>
										</td>

									</div></tr>
								</tbody>
							</table>

<!-- 						<div class="12u 12u$(xsmall)" style="text-align: right;">
							<h4>所費代幣:{th:tokenspend}</h4>
							{% if token"<"spendtoken;print<sub>代幣不足!</sub>%}
						</div> -->	

						<br>
						<div class="12u$ 12u$(xsmall)">
							<input type="checkbox" id="myself" name="myself" required>
							<label for="myself" style="font-weight: bold">我已詳細確認文章為我個人所寫，引用他人文章之處有進行標示</label>
						</div>
						

						<br>
						<div class="12u 12u$(xsmall)" style="text-align: right;">
							<input type="reset" class="button alt" value="重新填寫"/>
							<input type="submit" class="button special" value="送出"/>
							
						</div>
							
						</div>

						</form>
					

					</div>
				
			</section>



		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script th:src="@{/assets/js/jquery.min.js}"></script>
			<script th:src="@{/assets/js/skel.min.js}"></script>
			<script th:src="@{/assets/js/util.js}"></script>
			<!--[if lte IE 8]><script th:src="@{/assets/js/ie/respond.min.js}"></script><![endif]-->
			<script th:src="@{/assets/js/main.js}"></script>
	<script>
		$('#file-uploads').change(function() {
			var i = $(this).prev('label').clone();
			var file = $('#file-uploads')[0].files[0].name;
			$(this).prev('label').text(file);
		});
	</script>
	<script>
		function updateArticleValue(value){
			document.getElementById("articleValue").value = textNumber.value*0.75+formulaNumber.value*10;
		}
	</script>


	</body>
</html>