<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">




<!-- Main -->

    <div  id="articleReviewTable" class="container">

        <header class="major special">
            <h2>文章進度</h2>
        </header>
        <div id="show" class="table-wrapp"  >
            <table class="alt" >
                <thead></thead>
                <tbody>
                <tr>
                    <td align="center"><h4>文章名稱：</h4></td>
                    <td colspan="2" th:text="${article.articleName}"></td>
                </tr>
                <tr>
                    <td align="center"><h4>發表時間：</h4></td>
                    <td colspan="2" th:text="${article.postTime}"></td>
                </tr>
                <tr>
                    <td align="center"><h4>原始檔案：</h4></td>
                    <td colspan="2">
                        <label class="button">
                        <i class="fa fa-cloud-download">
                            <a th:href="${article.uploadFile}" th:text="${article.fileName}" style="color:#fff !important;font-family: 'Muli', sans-serif;"></a>
                        </i>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td rowspan="4" align="center"><h4>審核回覆：</h4></td>
                    <td align="center"><h5>審核人：</h5></td>
                    <td align="center"><h5>評論內容:</h5></td>
                </tr>
                <tr th:each="articleReviews:${article.getArticleReviews()}">
                    <td th:text="${articleReviews.member.name}"></td>
                    <td th:text="${articleReviews.reviewText}"></td>
                </tr>
<!--                <tr>-->
<!--                    <td>審核2</td>-->
<!--                    <td></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>審核3</td>-->
<!--                    <td></td>-->
<!--                </tr>-->



                </tbody>
            </table>
        </div>





    </div>



</html>