<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Paper Check</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
		<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'/>
		<link rel="stylesheet" th:href="@{/jqueryui/style.css">

		<!-- th要加嗎？ -->
		<link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
		<!-- th要加嗎？ -->

		  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">Paper Check!</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li>><a class="fa fa-home" href="index.html">&nbsp;&nbsp;Home</a></li>
					<li><a class="fa fa-upload"href="haveclass.html">&nbsp;&nbsp;Post</a></li>
					<li><a class="fa fa-check-circle" href="techpage.html">&nbsp;&nbsp;Check</a></li>
					<li><a class="fa fa-users" href="topic month.html">&nbsp;&nbsp;My Account</a></li>
					<li><a class="fa fa-question-circle"href="qa.html">&nbsp;&nbsp;Q&A</a></li>
				</ul>
			</nav>


		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>舉辦活動</h2>
					</header>

					<form>

						<div class="table">
							<table class="alt">
								<thead>
									<tr></tr>
									<tr></tr>
								</thead>
								<tbody>
									<tr><div class="6u 12u$">
										<td>
											<h4 style="text-align: center;">活動名稱：</h4>
										</td>
										<td colspan="3">
											<input type="text" name="articlename" id="articlename" value="" placeholder="活動名稱" />
										</td>
									</div></tr>


									<tr><div class="6u 12u$">
										<td>
											<h4 style="text-align: center;">活動內容：</h4>
										</td>
										<td colspan="3">
											<textarea type="text" name="articlename" id="articlename" value="" placeholder="活動內容" rows="3" ></textarea> 
										</td>
									</div></tr>


									<tr><div class="6u 12u$">
										<td>
											<h4 style="text-align: center;">活動時間：</h4>
										</td>
										<td colspan="3"><div class="2u 12u$">
											<input type="text" id="activitystart" name="activitystart" placeholder="開始時間" /></div>
											<div class="2u$ 12u$">
											<input type="text" id="activityend" name="activityend" placeholder="	結束時間"/ ></div>
										</td>
									</div></tr>


									<tr><div class="6u 12u$">
										<td>
											<h4 style="text-align: center;">上傳圖片：</h4>
										</td>
										<td colspan="3">
											
											<label for="file-uploads" class="button">
												<i class="fa fa-file-text-o"></i>上傳檔案
											</label>
											<input id="file-uploads" style="display:none;" type="file" name="activityimg">
										</td>
									</div></tr>



									<tr><div class="6u 12u$(xsmall)" >
										<td>
											<h4 style="text-align: center;">文章數量：</h4>
										</td>
										<td>
											<input type="number" min="0" id="textnumber"placeholder="文章數量：" style="width: 80%" />
										</td>
										<td>
											<h4 style="text-align: center;">參與人數：</h4>
										</td>
										<td>
											<input type="number" min="0" id="formulanumber"placeholder="參與人數：" style="width: 80%" />
										</td>

									</div></tr>
								</tbody>
							</table>


						<br>
						<div class="12u 12u$(xsmall)" style="text-align: right;">
							<input type="reset" value="重新填寫" class="button alt">
							<input type="submit" value="送出" class="button special">
							
						</div>
							
						</div>

						</form>
					


					

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script th:src="@{/assets/js/jquery.min.js}"></script>
			<script th:src="@{/assets/js/skel.min.js}"></script>
			<script th:src="@{/assets/js/util.js}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script th:src="@{/assets/js/main.js}"></script>
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  			<script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#activitystart" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          changeYear:true,
          numberOfMonths: 2
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#activityend" ).datepicker({
        defaultDate: "+1w",
        // changeMonth: true,
        numberOfMonths: 2
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
  </script>



	</body>
</html>