<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Paper Check</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
		<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'/>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">Paper Check!</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li>><a class="fa fa-home" href="index.html">&nbsp;&nbsp;Home</a></li>
					<li><a class="fa fa-upload"href="haveclass.html">&nbsp;&nbsp;Post</a></li>
					<li><a class="fa fa-check-circle" href="techpage.html">&nbsp;&nbsp;Check</a></li>
					<li><a class="fa fa-users" href="topic month.html">&nbsp;&nbsp;My Account</a></li>
					<li><a class="fa fa-question-circle"href="qa.html">&nbsp;&nbsp;Q&A</a></li>
				</ul>
			</nav>


		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>新創帳號</h2>
						<p>歡迎加入我們！一起讓論文審稿變得很好玩！</p>
					</header>
					<caption><li><h3>基本資料</h3></li></caption>
					<div class="table-wrapper">
						<form>
						<table class="alt">
								<tr>
									<td align="center"><h4>您的姓名:</h4></td>
									<td>
										<form>
										<div class="8u 12u$(xsmall)">
											<input type="text" name="name" id="name" value="" placeholder="姓名"/>

										</div>
										</form>						</td>
								</tr>


								<tr>
									<td align="center"><h4>身分證字號:</h4></td>
									<td>
										<div class="8u 12u$(xsmall)">
											<input type="text" name="account" id="id" value="" placeholder="身分證字號"/>

										</div>
									</td>
								</tr>


								<tr>
									<td align="center"><h4>密碼:</h4></td>
									<td>
										<div class="8u 12u$(xsmall)">
											<input type="text" name="name" id="password" value="" placeholder="密碼"/>
										</div>
									</td>
								</tr>

								<tr>
									<td align="center"><h4>再次輸入密碼:</h4></td>
									<td>
										<div class="8u 12u$(xsmall)">
											<input type="text" name="name" id="password" value="" placeholder="再次輸入密碼"/>
										</div>					</td></tr></table></form>	</div></form>
									</td>
								</tr>
								<tr>
									<td align="center"><h4>電子信箱:</h4></td>
									<td>
										<div class="8u 12u$(xsmall)">
											<input type="email" name="email" id="email" value="" placeholder="電子信箱"/>
										</div>
									</td>
								</tr>

								<tr>

									<td align="center"><h4>手機號碼:</h4></td>
									<td>
										<div class="8u 12u$(xsmall)">
											<input type="text" name="phone" id="phone" value="" placeholder="電話號碼"/>
										</div>
									</td>
								</tr>


								<tr>
									<td align="center"><h4>性別:</h4></td>
									<td>

										<div class="4u$ 12u$(xsmall)">
											<input type="radio" name="gender" id="male" checked>
											<label for="male">男</label>

											<input type="radio" name="gender" id="female">
											<label for="female" >女</label>
										</div>
									</td>


								<tr>
									<td align="center"><h4>生日:</h4></td>
									<td>

										<div class="6u 12u$(xsmall)">
											<input type="text" id="datepicker">
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>


					<caption><li><h3>簡單經歷</h3></li></caption>
					<div class="table-wrapper">
						<table class="alt">
							<!--<thead>
								<tr></tr>
									<th></th>
									<th></th>
									<th></th>
								<tr>
							</thead>-->
							<tbody>
								<tr>

									<td align="center"><h4>學歷:</h4></td>
									<td>
										<div class="12u$">
										<div class="select-wrapper">
											<select name="educational" id="educational">
												<option value="">-學歷-</option>
												<option value="1">學士</option>
												<option value="2">碩士</option>
												<option value="3">博士</option>
                                            </select>							</div>
										</div>
									</td>
								</tr>

								<tr>
									<td align="center"><h4>專精領域:</h4></td>
									<td>
										<div class="12u$">
										<div class="select-wrapper">
											<select name="study" id="study" />
												<option value="">-領域-</option>
												<option value="1">醫學</option>
												<option value="2">生物</option>
												<option value="3">商科</option>
												<option value="4">農業</option>
												<option value="5">社會</option>
												<option value="6">資訊</option>
												<option value="7">工程</option>
												<option value="8">文學</option>
												<option value="9">音樂</option>
												<option value="10">外文</option>
												<option value="11">歷史</option>
												<option value="12">地理</option>

										</div>
										</div>
									</td>


								</tr>

								<tr>

									<td align="center"><h4>特殊事蹟:</h4></td>
									<td>
										<div class="12u$">
											<textarea name="special" id="special" placeholder="請輸入" rows="3"></textarea>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</form>
					</div>


					<div class="12u 12u$(xsmall)" style="text-align: right;">
							<i class="button alt">重新填寫</i>
							<i class="button special">送出</i>
							
                    </div>		</div>			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script th:src="@{/assets/js/jquery.min.js}"></script>
			<script th:src="@{/assets/js/skel.min.js}"></script>
			<script th:src="@{/assets/js/util.js}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script th:src="@{/assets/js/main.js}"></script>
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  			<script>
  				$( function() {
    				$( "#datepicker" ).datepicker({
      					changeMonth: true,
      					changeYear: true,
						yearRange:"1910:2030",
						shortYearCutoff:+0
    				});
  				} );
  			</script>

	</body>
</html>