<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>《PaperReview!》您的審文被退稿了</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

</head>
<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#1E2832" style="padding: 40px 0 30px 0;">
            <p style="color: #ffffff;font-size:25px; ">Paper Review!</p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
            <p th:text="${'Dear ' + name+':'}"></p>
            <h3> 您的回覆被退件了，請登入查看</h3>
            <p th:text="${'活動名稱：' + activityName }"></p>
            <p th:text="${'文章名稱：'+ articleName}"></p>


            <p>謝謝您的參與！</p>
            <a href="http://localhost:8080/articleReview/list" style="background-color: #1E2832;color:#fff;border-radius: 15px; border:none; font-size: 20px;box-shadow: none;text-decoration: none;padding: 2px 2px;box-shadow: #000000;float:right;">&nbsp;&nbsp;&nbsp;&nbsp;前往確認&nbsp;&nbsp;&nbsp;&nbsp;</a>

        </td>
    </tr>
    <tr>
        <td bgcolor="#1E2832" style="padding: 30px 30px 30px 30px;">
            <p th:text="${signature}" style="color: #ffffff;"></p>
            <p th:text="${location}" style="color:#ffffff;"></p>
        </td>
    </tr>
</table>

</body>
</html>

