<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title>Paper Check</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
<!--		<link rel="stylesheet" th:href="@{/assets/css/main.css}"/>-->
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}"/>
		<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'/>
		<!--[if lte IE 8]><link rel="stylesheet" th:href="@{/assets/css/ie8.css}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" th:href="@{/assets/css/ie9.css}" /><![endif]-->
	</head>
	<body class="landing">

	<!-- Header -->
	<header id="header">
		<h1><a href="/">Paper Review!</a></h1>
		<a href="#nav">Menu</a>
	</header>


	<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a class="fa fa-home" href="/">&nbsp;&nbsp;Home</a></li>
				<li><a class="fa fa-flag" href="/activity">&nbsp;&nbsp;Activity</a></li>
				<li><a class="fa fa-file-text" href="/article">&nbsp;&nbsp;Article</a></li>
				<li><a class="fa fa-users" href="/member/Info">&nbsp;&nbsp;Account</a></li>
				<li><a class="fa fa-question-circle" href="/qa">&nbsp;&nbsp;Q&nbsp;&nbsp;&&nbsp;&nbsp;A</a></li>
			</ul>
		</nav>

		<!-- Banner -->
			<section id="banner">
				<i class="fa fa-check-square-o fa-5x" aria-hidden="true"></i>


				<h2>Paper Check</h2>
				<p>Review Paper Platform </p>
				<ul class="actions">
					<li><a href="/member/login" class="button big special">Log-In</a></li>
					<li><a href="/member/register" class="button big">Sign-Up</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<header class="major narrow">
						<h2 style="position: relative;left:35%">會議資訊</h2>
					</header>


					<div class="indexcontainer">
						<div class="mySlides" style="display: flex !important;">
							<div class="numbertext">1 / 5</div>
							<img class="index_img"src="http://s4.gigacircle.com/media/700x300_s4_5416ed99a0b30.jpg" style="width:100%">
						</div>

						<div class="mySlides">
							<div class="numbertext">2 / 5</div>
							<img class="index_img"src="http://s6.gigacircle.com/media/700x300_s6_9f6bb3a5e9f4c6bec3b4ddc7e315ccea.jpg" style="width:100%">
						</div>

						<div class="mySlides">
							<div class="numbertext">3 / 5</div>
							<img class="index_img"src="http://s4.gigacircle.com/media/700x300_s4_5416ed99a0b30.jpg" style="width:100%">
						</div>

						<div class="mySlides">
							<div class="numbertext">4 / 5</div>
							<img class="index_img"src="http://s6.gigacircle.com/media/700x300_s6_9f6bb3a5e9f4c6bec3b4ddc7e315ccea.jpg" style="width:100%">
						</div>

						<div class="mySlides">
							<div class="numbertext">5 / 5</div>
							<img class="index_img"src="http://3.bp.blogspot.com/-Z8HSwhoAnrQ/UIdtE-W5a8I/AAAAAAAAAYM/7VQ_Az0UdM8/s1600/light.jpeg" style="width:100%">
						</div>


						<a class="prev" onclick="plusSlides(-1)">❮</a>
						<a class="next" onclick="plusSlides(1)">❯</a>

						<div class="caption-container">
							<p id="caption"></p>
						</div>

						<div class="indexrow">
							<div class="indexcolumn">
								<img class="demo cursor " src="http://s4.gigacircle.com/media/700x300_s4_5416ed99a0b30.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
							</div>
							<div class="indexcolumn">
								<img class="demo cursor " src="http://s6.gigacircle.com/media/700x300_s6_9f6bb3a5e9f4c6bec3b4ddc7e315ccea.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
							</div>
							<div class="indexcolumn">
								<img class="demo cursor " src="http://s4.gigacircle.com/media/700x300_s4_5416ed99a0b30.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
							</div>
							<div class="indexcolumn">
								<img class="demo cursor " src="http://s6.gigacircle.com/media/700x300_s6_9f6bb3a5e9f4c6bec3b4ddc7e315ccea.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
							</div>
							<div class="indexcolumn">
								<img class="demo cursor" src="http://3.bp.blogspot.com/-Z8HSwhoAnrQ/UIdtE-W5a8I/AAAAAAAAAYM/7VQ_Az0UdM8/s1600/light.jpeg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
							</div>

						</div>
					</div>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script th:src="@{/assets/js/jquery.min.js}"></script>
			<script th:src="@{/assets/js/skel.min.js}"></script>
			<script th:src="@{/assets/js/util.js}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script th:src="@{/assets/js/main.js}"></script>
			<script>
				var slideIndex = 1;
				showSlides(slideIndex);

				function plusSlides(n) {
					showSlides(slideIndex += n);
				}

				function currentSlide(n) {
					showSlides(slideIndex = n);
				}

				function showSlides(n) {
					var i;
					var slides = document.getElementsByClassName("mySlides");
					var dots = document.getElementsByClassName("demo");
					var captionText = document.getElementById("caption");
					if (n > slides.length) {slideIndex = 1}
					if (n < 1) {slideIndex = slides.length}
					for (i = 0; i < slides.length; i++) {
						slides[i].style.display = "none";
					}
					for (i = 0; i < dots.length; i++) {
						dots[i].className = dots[i].className.replace(" active", "");
					}
					slides[slideIndex-1].style.display = "flex";
					dots[slideIndex-1].className += " active";
					captionText.innerHTML = dots[slideIndex-1].alt;
				}
			</script>



	</body>
</html>