<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Paper Review</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link  rel="stylesheet"   th:href="@{/assets/css/main.css}" />
		<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'/>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>
 
		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">Paper Review!</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li>><a class="fa fa-home" th:href="@{/home}">&nbsp;&nbsp;Home</a></li>
				<li><a class="fa fa-upload" th:href="@{/articlePost.html}">&nbsp;&nbsp;Post</a></li>
				<li><a class="fa fa-check-circle" th:href="@{/articleFeedback.html}">&nbsp;FeedBack</a></li>
				<li><a class="fa fa-flag" th:href="@{/templates/formal/activityManagement.html}"> Activity</a></li>
				<li><a class="fa fa-users" th:href="@{/memberInfo.html}">&nbsp;&nbsp;My Account</a></li>
				<li><a class="fa fa-question-circle"th:href="@{/qa.html}">&nbsp;&nbsp;Q&A</a></li>
			</ul>
		</nav>


		<!-- Main -->

				<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>登入</h2>
						<p>你的身分證＆密碼</p>
					</header>


						<!--<div class="row uniform 50%">-->
						<div style="position: relative;left:35%">
							<div th:if="${param.error}">
								Invalid username and password.
							</div>
							<div th:if="${param.logout}">
								You have been logged out.
							</div>
							<form th:action="@{/member/login}" method="post">
								<div class="6u 12u$(xsmall)">
									<li><h3>帳號（身分證字號）</h3></li>
									<input type="text" name="username"  id="username" placeholder="帳號" style="width: 60%" />
								</div>
								<br>

								<div class="6u 12u$(xsmall)" >
									<li><h3>密碼</h3></li>
									<input type="password" name="password" id="password"  placeholder="密碼" style="width: 60%" />
								</div>
								<br>
								<div class="6u 12u$(xsmall)" >
									<input type ="submit"  name="login-submit"
										   id="login-submit" class="special" value="送出" />
								</div>
							</form>
						</div>

						<br><br>


							<div class="12u$" align="right"  >
								<ul class="actions">


									<li><input type="reset" value="忘記密碼"/></li>

									<li>

										<a href="/member/register"><input type ="submit" value="新創帳號" class="alt"/></a>
									</li>
								</ul>
							</div>



                </div>		</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script th:src="@{/assets/js/jquery.min.js}"></script>
			<script th:src="@{/assets/js/skel.min.js}"></script>
			<script th:src="@{/assets/js/util.js}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script th:src="@{/assets/js/main.js}"></script>

	</body>
</html>