<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Paper Review</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
		<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'/>
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">Paper Review!</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li>><a class="fa fa-home" href="index.html">&nbsp;&nbsp;Home</a></li>
					<li><a class="fa fa-upload"href="haveclass.html">&nbsp;&nbsp;Post</a></li>
					<li><a class="fa fa-check-circle" href="techpage.html">&nbsp;&nbsp;Check</a></li>
					<li><a class="fa fa-users" href="topic month.html">&nbsp;&nbsp;My Account</a></li>
					<li><a class="fa fa-question-circle"href="qa.html">&nbsp;&nbsp;Q&A</a></li>
				</ul>
			</nav>


		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>會員資料</h2>
					</header>


					
					<li>姓名:${name}</li>
					<li>代幣金額:{th:tokenbalance}</li>
					<br><br>

                               
                        <div class="table-wrapper" >
                                        <table>
                                        	<caption><h3>歷史發表</h3></caption>
                                            <thead>
                                                <tr>
                                                    <th>文章</th>
                                                    <th>日期</th>
                                                </tr>

                                            </thead>

                                            {%for article in articles %}
                                            <tbody>
                                                <tr>
                                                    <td>發表文章名稱{th:articlename}</td>
                                                    <td>發表日期{th:posttime}</td>
                                                </tr>
                                                <tr>
                                                    <td>發表文章名稱{th:articlename}</td>
                                                    <td>發表日期{th:posttime}</td>
                                                </tr>
                                                <tr>
                                                    <td>發表文章名稱{th:articlename}</td>
                                                    <td>發表日期{th:posttime}</td>
                                                </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                        </div>	

                    
                        <div class="table-wrapper">
                                        <table>
                                        	<caption><h3>歷史審文</h3></caption>
                                            <thead>
                                                <tr>
                                                    <th>文章</th>
                                                    <th>日期</th>
                                                </tr>
                                            </thead>

                                            {%for article in articles %}
                                            <tbody>
                                                <tr>
                                                    <td>審核文章名稱{th:articlename}</td>
                                                    <td>審核日期{th:checkedtime}</td>
                                                </tr>
                                                <tr>
                                                    <td>審核文章名稱{th:articlename}</td>
                                                    <td>審核日期{th:checkedtime}</td>
                                                </tr>

                                            </tbody>
                                            {% endfor %}
                                        </table>
                        
                    	</div>
                    
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script th:src="@{/assets/js/jquery.min.js}"></script>
			<script th:src="@{/assets/js/skel.min.js}"></script>
			<script th:src="@{/assets/js/util.js}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script th:src="@{/assets/js/main.js}"></script>

	</body>
</html>