<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Paper Review</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/dateRangePicker.css}"/>
	<!--	<link rel="stylesheet" href="/resources/demos/style.css">-->
	<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'/>
	<!--[if lte IE 8]><link rel="stylesheet" th:href="@{/assets/css/ie8.css}" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" th:href="@{/assets/css/ie9.css}" /><![endif]-->
</head>
	<body>

	<!-- Header -->
	<header id="header">
		<h1><a href="/">Paper Review!</a></h1>
		<a href="#nav">Menu</a>
	</header>


	<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a class="fa fa-home" href="/">&nbsp;&nbsp;Home</a></li>
				<li><a class="fa fa-flag" href="/activity">&nbsp;&nbsp;Activity</a></li>
				<li><a class="fa fa-file-text" href="/article">&nbsp;&nbsp;Article</a></li>
				<li><a class="fa fa-users" href="/member/Info">&nbsp;&nbsp;Account</a></li>
				<li><a class="fa fa-question-circle" href="/qa">&nbsp;&nbsp;Q&nbsp;&nbsp;&&nbsp;&nbsp;A</a></li>
			</ul>
		</nav>


		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>新創帳號</h2>
						<p>歡迎加入我們！一起讓論文審稿變得很好玩！</p>
					</header>
					<caption><li><h3>基本資料</h3></li></caption>
					<form action="/member/register" method="post" >
						<div class="table-wrapper">
						<table class="alt">
								<tr>
									<td align="center"><p class="esstential">*</p><h4>您的姓名:</h4></td>
									<td>
										<form>
										<div class="8u 12u$(xsmall)">
											<input type="text" name="name" id="name" value="" placeholder="姓名" required/>

										</div>
										</form>
                                    </td>
								</tr>


								<tr>
									<td align="center"><p class="esstential">*</p><h4>身分證字號:</h4></td>
									<td>
										<div class="8u 12u$(xsmall)">
											<input type="text" name="idCardNumber" id="id" value="" placeholder="身分證字號" required/>

										</div>
									</td>
								</tr>

								<tr>
									<td align="center"><p class="esstential">*</p><h4>密碼:</h4></td>
									<td>
										<div class="8u 12u$(xsmall)">
											<input type="password" name="password1" id="password1" value="" placeholder="密碼" required/>
										</div>
									</td>
								</tr>

								<tr>
									<td align="center"><p class="esstential">*</p><h4>再次輸入密碼:</h4></td>
									<td>
										<div class="8u 12u$(xsmall)">
											<input type="password" name="password2" id="password2" value="" placeholder="再次輸入密碼" required/>
										</div>
									</td>
								</tr>
								<tr>
									<td align="center"><p class="esstential">*</p><h4>電子信箱:</h4></td>
									<td>
										<div class="8u 12u$(xsmall)">
											<input type="email" name="email" id="email" value="" placeholder="電子信箱" required/>
										</div>
									</td>
								</tr>

								<tr>

									<td align="center"><p class="esstential">*</p><h4>手機號碼:</h4></td>
									<td>
										<div class="8u 12u$(xsmall)">
											<input type="text" name="phoneNumber" id="phoneNumber" value="" placeholder="電話號碼" required/>
										</div>
									</td>
								</tr>


								<tr>
									<td align="center"><p class="esstential">*</p><h4>性別:</h4></td>
									<td>

										<div class="4u$ 12u$(xsmall)">
											<input type="radio" name="gender" id="male" value=0 checked>
											<label for="male">男</label>

											<input type="radio" name="gender" id="female" value=1>
											<label for="female" >女</label>
										</div>
									</td>


								<tr>
									<td align="center"><p class="esstential">*</p><h4>生日:</h4></td>
									<td>

										<div class="6u 12u$(xsmall)">
											<input type="text" name="birthday" value="01/01/1980" />
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>


					<caption><li><h3>簡單經歷</h3></li></caption>
					<div class="table-wrapper">
						<table class="alt">
							<!--<thead>
								<tr></tr>
									<th></th>
									<th></th>
									<th></th>
								<tr>
							</thead>-->
							<tbody>
								<tr>

									<td align="center"><p class="esstential">*</p><h4>學歷:</h4></td>
									<td>
										<div class="12u$">
										<div class="select-wrapper">
											<select name="educational" id="educational" required>
												<option value="">-學歷-</option>
												<option value=0>學士</option>
												<option value=1>碩士</option>
												<option value=2>博士</option>
                                            </select>							</div>
										</div>
									</td>
								</tr>

								<tr>
									<td align="center"><p class="esstential">*</p><h4>專精領域:</h4></td>
									<td>
										<div class="12u$">
											<div class="select-wrapper">
												<select name="study" id="study" required />
												<option value="">-領域-</option>
												<option value=0>醫學</option>
												<option value=1>生科</option>
												<option value=2>商科</option>
												<option value=3>資訊</option>
												<option value=4>工程</option>
												<option value=5>社會科學</option>
											</div>
										</div>
									</td>


								</tr>

								<tr>

									<td align="center"><h4>特殊事蹟:</h4></td>
									<td>
										<div class="12u$">
											<textarea name="special" id="special" placeholder="請輸入" rows="3"></textarea>
										</div>
									</td>

								</tr>
							</tbody>
						</table>

					</div>


					<div class="12u 12u$(xsmall)" style="text-align: right;">
						<input class="button alt" type="reset" value="重新填寫">
						<input class="button special" type="submit" value="送出">

					</div>
					</form>

				</div>			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script th:src="@{/assets/js/jquery.min.js}"></script>
			<script th:src="@{/assets/js/skel.min.js}"></script>
			<script th:src="@{/assets/js/util.js}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script th:src="@{/assets/js/main.js}"></script>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<!--		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"  />-->

		<script>
			$(function() {
				$('input[name="birthday"]').daterangepicker({
					singleDatePicker: true,
					showDropdowns: true,
					opens:"right",
					minYear: 1910,
					maxYear: parseInt(moment().format('YYYY'),10)
				}, function(start, end, label) {
				});
			});
		</script>

	</body>
</html>